@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
}
ul li{
    list-style-type:none;
}
a{
    text-decoration: none;
    color:black
}
body{
    background-color: #d8d5d5;
    
}
#mainDiv{
    display: flex;
    height: 100dvh;
    width: 100dvw;
    /* color: white; */
}


/* ------------------Left Div------------------ */

#divL{
    position: relative;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width:25%;
    height:100%;
    background-color: #fff;
    box-shadow: 2px 0px 4px rgb(208, 203, 203);
    font-weight: 600;
    font-size: 15px;
}
#divLNav{
    position: absolute;
    bottom: 65px;
    /* border: 2px solid red; */
    width: 100%;
    height: 80%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#divLNav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid green; */
    height: 65%;
    color: white;
}
#divLNav ul li{
    /* border: 2px solid green; */
    /* color: white;
    background-color: rgb(32, 31, 31); */
    padding: 12px 10px;
    width:200px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    align-items: center;   
}
#divLNav ul li:hover{
    color: white;
    background-color: rgb(32, 31, 31); 
}
#divLNav ul li:active{
    color: white;
    background-color: rgb(32, 31, 31); 
}

#divLNav ul i, #divLNav button i {
    margin-right: 10px;
}

#divLNav button{
    background: none;
    border: none;
    color: white;
    background-color: rgb(212, 145, 20);
    padding: 12px 10px;
    width:200px;
    height: fit-content;
    border-radius: 10px;
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    cursor: pointer;
}
#divLNav button:hover{
    background-color: rgb(164, 113, 18);
}

.userId{
    /* color: black; */
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(223, 218, 218, 0.854);
    width:100%;
    height: 60px;
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.userId1{
    font-family: "Arimo", sans-serif;
    font-size: 17px;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:40%;
}
.userId1 img{
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.userId2 i{
    cursor: pointer;
    color: red;
}

/* ------------------Right Div------------------ */

#divR{
        width:75%;
        height:100%;
        overflow-y: scroll;
}
#divR::-webkit-scrollbar, #inner-divR1::-webkit-scrollbar {
        display: none;
}
    
#divR nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 15px;
        height: fit-content;
        /* border: 2px solid red; */
}
#divR nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#divR nav ul li:nth-child(odd){
    
    border: 1.5px solid rgb(18, 184, 18);
}
#divR nav ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: white;
    }
    #divR nav ul li:last-child{
        background-color: rgb(18, 184, 18);
        font-size: 13px;
        font-weight: 600;
        height: 40px;
    }
    
    .divR-spn{
        height: fit-content;
        width: fit-content;
        padding: 5px;
        border-radius: 50%;
        background-color: green;
        color: white;
    }
    
    #inner-divR{
        display: flex;
        width: 100%;
        height: 88dvh;
        /* border: 2px solid yellow; */
        
    }

    #inner-divR1{
        overflow-y: scroll;
        width: 70%;
        /* border: 2px solid green; */
        padding: 10px;
    }
    #innerDivR11{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        height: 23px;
        /* border: 2px solid green; */
    }
    #innerDivR11 input{
        border: none;
        background: none;
        background-color: white;
        border-radius: 5px;
        height: 100%;
        padding: 0px 10px;
        color: black;
    }
    #innerDivR11 input::placeholder{
        color: rgb(49, 47, 47);
    }
    #Settings-icons{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px;
        padding: 0px 10px;
        background-color: white;
        font-size: 15px;
    }

    .fi-rr-settings-sliders{
        transform: rotate(90deg);
    }
    .upload{
        transform: rotate(180deg);

    }

    #inner-divR2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        /* border: 2px solid green; */
        width: 30%;
    }
    #inner-divR2>div{
        padding: 10px;
        color:rgba(255, 255, 255, 0.906);
        height: 30%;
        width: 100%;
        background-color: rgba(35, 36, 35, 0.893);
        border-radius: 15px;
        box-shadow: 1px 1px 2px black -1px -1px 2px black;
    }
    
    #head{
        padding: 0px 2px 4px 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        border-bottom: 0.5px solid rgb(83, 82, 82);
    }

    #progressBar{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
    }
    #progressBar>div{
        position: relative;
        display: flex;
        /* border: 2px solid green; */
        border-radius: 20px;
        height: 10px;
        width: 100%;
    }
    #progressBar>div p{
        border-radius: 20px;
        height: 100%;
        
    }
    .pB1{
        z-index: 1;
        width: 15%;
        background-color: red;
    }
    .pB2{
        position: absolute;
        left:12%;
        z-index: 2;
        width: 37.5%;
        background-color: yellow;
    }
    .pB3{
        position: absolute;
        left:40%;
        z-index: 3;
        width: 60%;
        background-color: rgb(18, 171, 222);
    }
    
    
    #measurements{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #measurements>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        height: 55px;
    }
    #measurements #MPV{
        display: flex;
        justify-content: space-around;
        width: 95%;
        font-size: 8px;
    }
    #MPV .dot{
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }
    .dot1{
        background-color: red;
    }
    .dot2{
        background-color: yellow;
    }
    .dot3{
        background-color: rgb(18, 171, 222);
    }
    
    .num{
        color: white;
        font-size: 28px;
    }
    #algorithms-Status img{
        height: 70px;
        width: 70px;
    }
    #green-tick{
        height: 90%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        
    }
    #green-tick p{
        padding: 7px 15px;
        border-radius: 10px;
        color: rgb(45, 232, 45);
        background-color: rgba(18, 184, 18, 0.16);
        font-size: 13px;
    }
    
    #pressure-Values img{
        height: 20px;
        width: 20px;
        margin-left: 10px;
    }
    .pV1{
        /* border: 2px solid red; */
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .pV2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #pressure-Values i{
        color: white;
    }
    
    #pressure-Values p{
        padding: 7px 15px;
        border-radius: 10px;
        color: black;
        background-color: rgb(31, 177, 250);
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }
    .pVLoc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 2px solid red; */
        width: 82%;
    }