@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
}
ul li{
    list-style-type:none;
}
a{
    text-decoration: none;
    color:black
}
body{
    background-color: #d8d5d5;
    
}
#mainDiv{
    display: flex;
    height: 100dvh;
    width: 100dvw;
    /* color: white; */
}
#divL{
    position: relative;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width:25%;
    height:100%;
    background-color: #fff;
    box-shadow: 2px 0px 4px rgb(208, 203, 203);
    font-weight: 600;
    font-size: 14px;
}
#divLNav{
    position: absolute;
    bottom: 65px;
    /* border: 2px solid red; */
    width: 100%;
    height: 80%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#divLNav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid green; */
    height: 65%;
    color: white;
}
#divLNav ul li{
    /* border: 2px solid green; */
    /* color: white;
    background-color: rgb(32, 31, 31); */
    padding: 12px 10px;
    width:200px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    align-items: center;   
}
#divLNav ul li:hover{
    color: white;
    background-color: rgb(32, 31, 31); 
}
#divLNav ul li:active{
    color: white;
    background-color: rgb(32, 31, 31); 
}

#divLNav ul i, #divLNav button i {
    margin-right: 10px;
}

#divLNav button{
    background: none;
    border: none;
    color: white;
    background-color: rgb(212, 145, 20);
    padding: 12px 10px;
    width:200px;
    height: fit-content;
    border-radius: 10px;
    font-family: "Arimo", sans-serif;
    font-weight: 600;
}
#divLNav button:hover{
    background-color: rgb(164, 113, 18);
}
#divR{
    width:75%;
    height:100%;
    overflow-y: scroll;
}
#divR::-webkit-scrollbar {
    display: none;
  }

.userId{
    color: black;
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(223, 218, 218, 0.854);
    width:100%;
    height: 60px;
    /* border: 2px solid red; */
}